.card {
    &__section {
        margin-bottom: 24px;
    }
    &__subtitle {
        margin-bottom: 8px;
    }
    &__person {
        margin-top: 25px;
    }
    &__vehicles {
        height: 60px;
    }
}
