.link {
    width: 100%;
    cursor: pointer;
    border: 2px solid var(--heading-title);
    color: var(--heading-text);
    background: transparent;
    padding: 0.5rem 0.8rem;
    font-family: "Starjedi";
}
